img {
    width: 190px;
}

h2 {
    font-size: 24px;

    font-family: 'Tahoma';

}


h3 {
    font-size: 20px;
    font-family: 'Tahoma';
}

div {
    background-color: #f5f5f5;
    padding: 50px;
    width: 930px;
    margin:0 auto;
    border-top: 20px solid #d5d5d5;
    text-align: center; 
    
}

p {
    text-align: center;
    line-height: 28px;
    font-family: 'Tahoma';
}

a {
    background-color: green;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
}

span {
    font-weight: bold;
}

.topo{
    text-align: center;
}